body {
  margin: 0;
}

.backdrop {
  height: 100vh;
  width: 100%;
  background-color: rgba(16, 16, 16, 0.6509803922);
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}

.open {
  display: block !important;
}

.header {
  z-index: 1;
  height: 50px;
  width: 100%;
  background-color: #0d6efd;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 15px 0 15px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}
.header .hamburger-icon {
  height: 40px;
  width: 30px;
}
.header .hamburger-icon img {
  width: 100%;
}
.header .button {
  height: 30px;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
}

.hamburger-menu {
  display: none;
  height: 100%;
  background-color: #dde6ef;
  padding: 10px;
  z-index: 3;
  position: fixed;
  left: 0px;
  top: 0;
  box-sizing: border-box;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hamburger-menu {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .hamburger-menu {
    width: 300px;
  }
}
.hamburger-menu .close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: azure;
  color: #6d6060;
  border: 1px solid #362929;
  text-decoration: none;
  border-radius: 3px;
}
.hamburger-menu .menu {
  margin-block-start: 0;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  list-style: none;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.hamburger-menu .menu li {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.hamburger-menu .menu-list {
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}
.hamburger-menu .list {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
  list-style: none;
  position: absolute;
  left: 0px;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.hamburger-menu .link {
  height: 25px;
  width: 25px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0px auto;
  text-decoration: none;
}
.hamburger-menu .link .in {
  background-color: #0a66c2;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  border: 1px solid #0a66c2;
}
.hamburger-menu .link .g {
  background-color: #4285f4;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  border: 1px solid #4285f4;
}
.hamburger-menu .link .f {
  background-color: #0165E1;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  border: 1px solid #0165E1;
}
.hamburger-menu .link .t {
  background-color: #1D9BF0;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  border: 1px solid #1D9BF0;
}

.image-control {
  position: relative;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .image-control {
    padding-top: 0;
  }
}
.image-control .image-overlay {
  height: 88%;
  width: 100%;
  position: absolute;
  background-color: rgba(16, 16, 16, 0.6509803922);
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .image-control .image-overlay {
    height: 99%;
  }
}
.image-control .image-overlay .main-line {
  margin-top: 40px;
  color: white;
  margin-block-end: 0;
  font-size: 28px;
}
@media screen and (min-width: 768px) {
  .image-control .image-overlay .main-line {
    margin-top: 120px;
    font-size: 50px;
  }
}
.image-control .image-overlay .contentOnImage {
  color: white;
  font-size: 16px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .image-control .image-overlay .contentOnImage {
    font-size: 30px;
  }
}
.image-control img {
  margin-top: 20px;
  width: 100%;
}

.container {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.title {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #3b3333;
  letter-spacing: 1px;
  text-align: center;
  flex-grow: 1;
}

.description {
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-me {
  min-height: 180px;
  display: flex;
  justify-content: center;
}

.my-projects {
  min-height: 250px;
  margin-top: 2px;
  background-color: rgba(250, 235, 215, 0.6392156863);
  display: flex;
  justify-content: center;
}
.my-projects .tiles {
  display: flex;
  justify-content: space-around;
}
.my-projects .tile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.my-projects .tile.a {
  background-color: aquamarine;
}
.my-projects .tile.b {
  background-color: rgba(138, 43, 226, 0.5607843137);
}
.my-projects .tile.c {
  background-color: coral;
}
.my-projects .tile.d {
  background-color: rgba(0, 139, 139, 0.6);
}

.project-footer {
  min-height: 180px;
  display: flex;
  justify-content: center;
}
.project-footer .tile.e {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-decoration: none;
  background-color: rgba(89, 37, 138, 0.6117647059);
  display: flex;
  justify-content: center;
  align-items: center;
  color: floralwhite;
  margin: 0px auto 0px auto;
}

.contact-me {
  background-color: #d3dee8;
  margin-top: 2px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .contact-me {
    min-height: 280px;
  }
}
.contact-me .container-form {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .contact-me .container-form {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .contact-me .container-form {
    display: flex;
    flex-wrap: wrap;
  }
}
.contact-me .container-form .form {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 30px 15px 30px 15px;
}
@media screen and (min-width: 1024px) {
  .contact-me .container-form .form {
    width: 100%;
    margin-top: 50px;
    padding: 50px;
    gap: 2%;
  }
}
.contact-me .container-form label {
  color: #352e2e;
  font-size: 18px;
  letter-spacing: 1px;
}
.contact-me .container-form input {
  width: 100%;
  height: 40px;
  background-color: rgba(203, 201, 201, 0.1411764706);
  padding: 0;
  border-radius: 3px;
  border: 1px solid rgba(128, 128, 128, 0.5490196078);
  padding: 0px 5px 0 5px;
  box-sizing: border-box;
}
.contact-me .container-form textarea {
  padding: 0;
  width: 100%;
  background-color: rgba(203, 201, 201, 0.1411764706);
  border-radius: 3px;
  height: 150px;
  border: 1px solid rgba(128, 128, 128, 0.5490196078);
  padding: 5px 5px 0 5px;
  box-sizing: border-box;
}
@media screen and (min-width: 1024px) {
  .contact-me .container-form textarea {
    height: 223px;
  }
}
.contact-me .container-form .button-form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.contact-me .container-form .btn {
  height: 40px;
  background-color: rgba(0, 128, 0, 0.7215686275);
  border-radius: 3px;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  border-width: 0;
  padding: 0;
  width: 40%;
}
@media screen and (min-width: 1024px) {
  .contact-me .container-form .btn {
    width: 20%;
  }
}
.contact-me .container-form .container1,
.contact-me .container-form .container2 {
  flex-grow: 1;
  flex-basis: 100%;
}
@media screen and (min-width: 1024px) {
  .contact-me .container-form .container1,
  .contact-me .container-form .container2 {
    flex-basis: 49%;
  }
}
.contact-me .container-form .container1 div,
.contact-me .container-form .container2 div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modalWindow {
  display: none;
  z-index: 2;
  position: fixed;
  width: 100%;
}
.modalWindow .modalWindow-content {
  width: 80%;
  position: fixed;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 0 14px 0 rgba(15, 17, 17, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .modalWindow .modalWindow-content {
    width: 50%;
  }
}
.modalWindow .modal-header {
  display: flex;
  justify-content: space-between;
  background-color: #e2e5e5;
  padding: 20px;
}
.modalWindow .modal-title {
  font-size: 25px;
  align-self: center;
  margin-block-start: 0;
  margin-block-end: 0;
}
.modalWindow .cross {
  font-size: 18px;
  align-self: center;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  height: 20px;
  width: 20px;
  color: #847575;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2e2929;
  border-radius: 3px;
}
.modalWindow .modal-body {
  padding: 30px;
}
.modalWindow .footer {
  background-color: #e2e5e5;
  padding: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: end;
}
.modalWindow .footer .btnb {
  border-radius: 3px;
  width: 90px;
  background-color: rgba(128, 128, 128, 0.5490196078);
  border: 1px solid rgba(128, 128, 128, 0.631372549);
  color: white;
  letter-spacing: 2px;
  padding: 10px 0 10px 0;
  cursor: pointer;
  font-size: 20px;
  height: 30px;
}

.show {
  display: block;
}/*# sourceMappingURL=main.css.map */